<header>
    <div class="header-holder">
        <div class="logo">
            <span class="material-symbols-outlined">school</span>
            <p>LYNX AKADEMI</p>
        </div>
        <div>
            <div class="menu" (click)="toggleMenu()"> <!-- click event för att skicka till funktion -->
                <span class="material-symbols-outlined">menu</span>
            </div>
        </div>
    </div>

    <nav [ngClass]="{ 'open': isMenuOpen }"> <!-- ger klass open när öppen -->
        <ul>
            <li><a routerLink="/home" routerLinkActive="current">
                    Startsida
                </a></li>
            <li><a routerLink="/find-courses" routerLinkActive="current">
                    Kurser
                </a></li>
            <li><a routerLink="/schedule" routerLinkActive="current">
                    Ramshema
                </a></li>
        </ul>
    </nav>
</header>