@use '../../styles.scss' as *;

header { 
    @include align(flex, center, center);
    flex-direction: column;
    margin-top: 2em;
    box-sizing: border-box;
    
    .header-holder {
        @include width(98%, 1280px);
        @include align(flex, space-between, center);
    }

    .logo {
        @include align(flex, flex-start, center);
        gap: 1em; 

        p { font-size: 32px; font-family: "Instrument Sans", sans-serif; box-sizing: border-box;}
        span { font-size: 58px; box-sizing: border-box;}
    }

    nav {
        @include align(flex, center, center);
        width: 100%;
        border-top: 2px solid lighten($deviating-bright, 15%);
     }

    ul {
        @include align(flex, center, center);
        @include width(98%, 1280px);
        list-style: none;
        padding: 0; 
     }

    li {
        margin-left: 10em;
        font-size: 22px;
        font-family: "Roboto", sans-serif;

        &:first-child { margin-left: 0; }
     }

    a { text-decoration: none; color: lighten($primary-color, 15%); }

    .current { 
        background-color: lighten($deviating-bright, 15%);
        padding: 0.72em 0.7em;
        box-sizing: border-box;
    }

    .menu { display: none; }
}

@media (max-width: 800px) {
    nav { display: none!important;
        &.open { 
            display: block!important; 

            ul {
                display: block!important;
                text-align: right!important;
            }

            li {
                margin-top: 50px;
            }
        }
    }

    .menu { display: flex!important; }
}