<footer>
    <div class="content-holder">
        <div class="column">
            <p class="foot-headline">Kontakt</p>
            <div>
                <p>Adress: Gatan 1a, Skåne</p>
                <p>Kundtjänst: 032-223 32</p>
            </div>
        </div>
        <div class="column">
            <p class="foot-headline">Snabblänkar</p>
            <div>
                <p>Kurser</p>
                <p>Ramschema</p>
            </div>
        </div>
        <div class="column">
            <p class="foot-headline">Hitta utbildning</p>
            <div>
                <p>Sök Kurser</p>
                <p>Skapa ditt schema</p>
            </div>
        </div>
    </div>

    <div class="box">
        Copyright JEJA
    </div>
</footer>