<app-subheader />

<h1>COURSES.HTML</h1>

<div>

    <input type="text" [(ngModel)]="searchText" (input)="searchTable()" placeholder="Sök kurs här...">
    
    <table>
        <thead>
            <tr>
                <th (click)="sortTable('courseName')">Kursnamn</th>
                <th (click)="sortTable('points')">Poäng</th>
                <th (click)="sortTable('courseCode')">Kurskod</th> 
                <th (click)="sortTable('subject')">Ämne</th>
                <th (click)="sortTable('progression')">Progression</th>
                <th>Kursplan</th>
            </tr>
        </thead>
        <tbody>
            
            <tr *ngFor="let course of pagedCourses">
                <td>{{ course.courseName }}</td>
                <td>{{ course.points }}</td>
                <td>{{ course.courseCode }}</td>
                <td>{{ course.subject }}</td>
                <td id="center">{{ course.progression }}</td>
                <td>
                    <a [href]="course.syllabus" target="_blank">Länk till kursplan</a>
                </td>
                <button><span class="material-symbols-outlined">add_task</span></button>
            </tr>
        
        </tbody>
    </table>

    <div>
        <button (click)="previousPage()" [disabled]="currentPage === 1">Föregående</button>
        <button (click)="nextPage()" [disabled]="pagedCourses.length < pageSize">Nästa</button>
    </div>
    
    </div>
