@use '../../styles.scss' as *;

.wrapper {
    @include align(flex, center, center);
    flex-direction: column;
}

table {
    @include width(1280px, 95%);
    border-collapse: collapse;

    tr:nth-child(odd) td { background-color: lighten($deviating-bright, 15%); }

    td { background-color: $brightest-color; padding: 0.5em 1em; }
    th { padding: 0.5em 1em; }
    th { 
        background-color: $deviating-color; 
        color: $brightest-color; 
        text-align: left; 
    }

    a { color: $primary-color; }

    button { 
        color: $brightest-color;
        border: none; 
        background-color: $deviating-color;
        width: 70px;
        height: 70px;
        cursor: pointer;
        transition: 0.2s ease-in;

        &:hover { background-color: lighten($deviating-color, 8%); }
    }

    .odd-btns:nth-child(odd) { 
        background-color: $deviating-bright; 

        &:hover { background-color: darken($deviating-bright, 8%); }
    }

    .center { text-align: center; }
    .btn-cell { @include align(flex, flex-end, center); padding: 0; }
 }