@use '../../styles.scss' as *;

.wrapper {
    @include align(flex, center, center);
    flex-direction: column;
}

table {
    @include width(1280px, 95%);
    border-collapse: collapse;

    td { background-color: $brightest-color; padding: 0.5em 1em; }
    th { padding: 0.5em 1em; }

    th { 
        background-color: $deviating-color; 
        color: $brightest-color; 
        text-align: left; 
    }

    tr:nth-child(odd) td { background-color: lighten($deviating-bright, 15%); }
    a { color: $primary-color; }

    button { 
        color: $brightest-color;
        border: none; 
        background-color: $deviating-color;
        width: 70px;
        height: 70px;
    }

    .even-and-odd:nth-child(odd) {
        background-color: $deviating-bright;
    }

    .center { text-align: center; }
    .btn-cell { @include align(flex, flex-end, center); padding: 0; }
 }