<div class="wrapper">

    <div class="subheader">
        <h1>Hitta kurs</h1>
        <div>
            <input type="text" [(ngModel)]="searchText" (input)="searchTable()" placeholder="Sök kurs här...">
            <select [(ngModel)]="selectedSubjects" (change)="filterBySubject()">
                <option value="">Visa alla ämnen</option>
                <option *ngFor="let subject of uniqueSubjects" [value]="subject">{{ subject }}</option>
            </select>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th (click)="sortTable('courseName')">Kursnamn</th>
                <th (click)="sortTable('points')">Poäng</th>
                <th (click)="sortTable('courseCode')">Kurskod</th>
                <th (click)="sortTable('subject')">Ämne</th>
                <th (click)="sortTable('progression')">Progression</th>
                <th>Kursplan</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let course of pagedCourses; let i = index">
                <td>{{ course.courseName }}</td>
                <td>{{ course.points }}</td>
                <td>{{ course.courseCode }}</td>
                <td>{{ course.subject }}</td>
                <td class="center">{{ course.progression }}</td>
                <td>
                    <a [href]="course.syllabus" target="_blank">
                        <span class="material-symbols-outlined">link</span>
                    </a>
                </td>
                <td class="btn-cell">
                    <button [ngClass]="{'odd-btns': i % 2 === 0}" (click)="onClick(course)">
                        <span class="material-symbols-outlined">
                            {{ actionType === 'add' ? "add_task" : 'delete' }}
                        </span>
                    </button>
                </td>
            </tr>

        </tbody>
    </table>

    <div class="pages">
        <div>
            <p>Antal per sida</p>
            <select [(ngModel)]="pageSize" (change)="updatePagedCourses()">
                <option [value]="10">10</option>
                <option [value]="20">20</option>
                <option [value]="50">50</option>
            </select>
        </div>
        <div>
            <p>{{ startIndex }} - {{ endIndex}} av {{ totalCourses }}</p>
            <button (click)="previousPage()" [disabled]="currentPage === 1">
                <span class="material-symbols-outlined">keyboard_arrow_left</span>
            </button>
            <button (click)="nextPage()" [disabled]="pagedCourses.length < pageSize">
                <span class="material-symbols-outlined">keyboard_arrow_right</span>
            </button>
        </div>
    </div>

    <div *ngIf="confirmation" class="confirmation">
        {{ confirmation }}
    </div>

</div>