@use '../../styles.scss' as *;

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $primary-color;
    width: 100%;

    .text-holder {
        @include width(95%, 900px);
        padding: 3em 0 1em 0;

        h1 { font-size: 24px; margin-bottom: 1em; letter-spacing: 0.5px; }
        p { line-height: 28px; }
    }
}

.bg {
    @include align(flex, center, center);
    @include boxspace(5em, border-box);
    width: 100%;
    background-color: $deviating-color;

    h1 { font-size: 28px; }
    h2 { font-size: 20px; font-weight: 400; margin: -0.8em 0 2.5em 0; }
}

.img-holder {
    @include align(flex, center, center);
    @include width(98%, 900px);
    gap: 3em;

    .img {
        background-color: $brightest-color;
        padding: 1.5em; 
    }

    button {
        @include btn(none, 0.2s ease-in, pointer);
        width: 100%;
        padding: 0.5em;
        background-color: $deviating-bright;

        &:hover { background-color: darken($deviating-bright, 8%); }
    }

    .material-symbols-outlined {
        color: $brightest-color;
        font-size: 30px;
    }

    img { width: 100%;}
}

@media (max-width: 865px) {
    .img-holder { flex-direction: column; }
    .img { width: 100%; }
}

@media (max-width: 550px) {
    .img-holder { gap: 1em!important; }
    .bg { padding: 2em!important; }
}