<div class="wrapper">
    <div class="bg">
        <div class="img-holder">

            <div class="img">
                <img src="/img1.webp" alt="image of people pointing at a laptop">
                <h1>Hitta kurser</h1>
                <h2>Bläddra igenom vårt utbud</h2>
                <button>
                    <span class="material-symbols-outlined">
                        search
                    </span>
                </button>
            </div>

            <div class="img">
                <img src="/img2.webp" alt="image of a schedule, computer and phone">
                <h1>Skapa ditt schema</h1>
                <h2>Gör ditt egna ramschema</h2>
                <button>
                    <span class="material-symbols-outlined">
                        edit_calendar
                    </span>
                </button>
            </div>

        </div>
    </div>

    <div class="text-holder">
        <h1>Lynx Akademi finns här för dig</h1>
        <p>
            Välkommen till Lynx Akademi, ett universitet som strävar efter att erbjuda utbildning i världsklass med
            fokus på innovation och individens utveckling. På vår moderna webbplats får du tillgång till vårt breda
            utbud av kurser inom olika ämnen. Du kan enkelt söka efter kurser som passar dina intressen och akademiska
            mål.
            <br><br>
            Med vår unika plattform kan du även skapa ditt eget ramschema, där du anpassar och planerar din utbildning
            efter dina behov och preferenser. Utforska möjligheterna, hitta din drömkurs och bygg din framtid med oss på
            Lynx Akademi!
        </p>
    </div>
</div>