<div>
    <div class="bg">
        <div class="img-holder">

            <div class="img">
                <img src="/img1.webp" alt="image of people pointing at a laptop">
                <h1>Hitta kurser</h1>
                <h2>Bläddra igenom vårt utbud</h2>
                <button>
                    <span class="material-symbols-outlined">
                        search
                    </span>
                </button>
            </div>

            <div class="img">
                <img src="/img2.webp" alt="image of a schedule, computer and phone">
                <h1>Skapa ditt schema</h1>
                <h2>Gör ditt egna ramschema</h2>
                <button>
                    <span class="material-symbols-outlined">
                        schedule
                    </span>
                </button>
            </div>

        </div>
    </div>

    <p>
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchan 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchan 
    </p>

</div>